<template>
  <div>
    <h3 class="text-3xl font-medium">Contact</h3>
    <div v-if="loading" class="w-full h-80 flex justify-center items-center">
      <div>
        <Icon
          icon="ion:reload-outline"
          color=""
          class="p-2 animate-spin h-24 w-24"
        />
        <h3 class="animate-bounce ml-3 mt-4 font-medium text-lg">Loading...</h3>
      </div>
    </div>

    <div v-else>
      <!-- Disini untuk search dan Button -->
      <div class="flex items-center justify-between mt-8">
        <div class="flex items-center">
          <div class="relative mx-4 lg:mx-0">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <Icon icon="ion:search" />
            </span>

            <input
              class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Search"
              v-model="searchTitle"
              @input="searchDropdown = true"
              @blur="startTimer"
            />
          </div>
          <div
            v-if="searchDropdown"
            class="absolute bg-gray-100 rounded-b-lg whitespace-normal overflow-y-scroll lg:ml-0 sm:ml-3.5 mt-64 h-52"
          >
            <p
              v-for="u in filteringData"
              :key="u.name"
              class="hover:bg-gray-50 cursor-pointer px-4 py-2 w-64"
              @click="searchTitle = u.name"
            >
              {{ u.name }}
            </p>
          </div>
        </div>

        <div class="flex items-center">
          <button
            @click="showAddModal()"
            class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
          >
            Add Contacts
          </button>
        </div>
      </div>
      <Pagination :data="contacts" :search="searchTitle" />

      <!-- Disini untuk Table -->
      <!-- <div class="flex flex-col mt-8 pb-5">
        <div
          class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
        >
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
          >
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Contact Name
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Phone Number
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Status
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Channel
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Action
                  </th>
                </tr>
              </thead>

              <tbody class="bg-white">
                <tr v-for="(u, index) in displayedData" :key="index">
                  <td
                    class="px-6 py-2 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="flex items-center text-sm font-medium leading-5 text-gray-900"
                    >
                      {{ u.name }}
                    </div>
                  </td>

                  <td
                    class="px-6 py-2 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-900">
                      {{ u.telephone }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-2 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="text-sm leading-5 max-w-max p-1 bg-red-600 border border-red-900 text-center text-white font-medium rounded-full"
                      :class="{
                        'bg-greem-600 border-green-900': u.is_valid === true,
                      }"
                    >
                      {{ u.is_valid === false ? 'Unvalid' : 'Valid' }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-2 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <p v-for="c in u.channel" :key="c">{{ c }}</p>
                  </td>

                  <td
                    class="space-x px-6 py-5 text-sm font-medium leading-5 text-center border-b border-gray-200 whitespace-nowrap"
                  >
                    <button
                      @click="showEditModal(u._id, u.name, u.telephone)"
                      class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                    >
                      Edit
                    </button>

                    <span
                      @click="deleteData(u._id)"
                      class="cursor-pointer text-red-600 hover:text-red-900 inline-block"
                    >
                      delete
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->

      <!-- Modals Add -->
      <ModalScreen :is-open="open" :close-modal="closeModal">
        <template v-slot:title>
          <div class="mb-4 p-2 bg-gray-200 rounded-t-lg">
            <h3 class="uppercase text-base font-bold">Add Contacts</h3>
          </div>
        </template>
        <template v-slot:content>
          <div class="p-4">
            <input
              class="w-full pl-4 mb-4 text-indigo-600 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Name..."
              v-model="contactName"
            />
            <input
              class="w-full pl-4 text-indigo-600 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Phone number..."
              v-model="phoneNumber"
            />
          </div>
        </template>
        <template v-slot:submit>
          <div>
            <button
              @click="postData"
              class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Submit
            </button>
          </div>
        </template>
      </ModalScreen>

      <!-- Modals edit -->
      <ModalScreen :is-open="openEdit" :close-modal="closeModal">
        <template v-slot:title>
          <div class="mb-4 p-2 bg-gray-200 rounded-t-lg">
            <h3 class="uppercase text-base font-bold">Edit contact</h3>
          </div>
        </template>
        <template v-slot:content>
          <div class="p-4">
            <input
              class="w-full pl-4 mb-4 text-indigo-600 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              :placeholder="`${contactName ?? 'Name...'}`"
              v-model="contactName"
            />
            <input
              class="w-full pl-4 text-indigo-600 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              :placeholder="`${phoneNumber ?? 'Phone Number...'}`"
              v-model="phoneNumber"
            />
          </div>
        </template>
        <template v-slot:submit>
          <div>
            <button
              @click="updateData(editId)"
              class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Submit
            </button>
          </div>
        </template>
      </ModalScreen>

      <!-- Pagination -->
      <!-- <div class="">
        <ul class="flex justify-end">
          <li class="">
            <button
              :disabled="dataState.currentPage === 1"
              @click="dataState.currentPage--"
              class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === 1 }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-back" />
            </button>
          </li>
          <div v-if="pages[4] + 1 > 6">
            <li
              @click="dataState.currentPage = 1"
              class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              1
            </li>
            <li
              class="relative inline-flex bg-gray-200 items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
          </div>
          <div v-for="page in pages" :key="page">
            <li class="">
              <button
                :class="[
                  {
                    'relative z-10 inline-flex items-center bg-blue-600 text-white px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                      page === dataState.currentPage,
                    '  hover:bg-gray-100 bg-white':
                      page !== dataState.currentPage,
                  },
                ]"
                @click="dataState.currentPage = page"
                :disabled="page === dataState.currentPage"
                class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
              >
                {{ page }}
              </button>
            </li>
          </div>
          <div v-if="pages[4] < totalPages">
            <li
              class="relative inline-flex bg-gray-200 items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
            <li
              @click="dataState.currentPage = totalPages"
              class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              {{ totalPages }}
            </li>
          </div>
          <li class="">
            <button
              :disabled="dataState.currentPage === totalPages"
              @click="dataState.currentPage++"
              class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-forward" />
            </button>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';

import Pagination from '../components/Pagination.vue';
import ModalLayout from '../components/ModalLayout.vue';
import ModalScreen from '../components/ModalSreen.vue';

let open = ref(false);
let openEdit = ref(false);
const loading = ref(false);
const loadingDetail = ref(false);
const searchDropdown = ref(false);

// let groupName = ref('');
let showDropdown = ref(false);
let selectedItems = ref<any[]>([]);
let searchTerm = ref('');
let channels = ref(['telegram', 'whatsapp']);

interface DataState {
  currentPage: number;
  itemsPerPage: number;
  groupName: string;
  channel: any[];
}

const dataState = ref<DataState>({
  currentPage: 1,
  itemsPerPage: 5,
  groupName: '',
  channel: [],
});

interface Contacts {
  _id: string;
  name: string;
  channel: [];
  telephone: string;
  is_valid: boolean;
}

const contacts = ref<Contacts[]>([]);
const contactsDetail = ref<Contacts>({
  _id: '',
  name: '',
  channel: [],
  telephone: '',
  is_valid: false,
});

onMounted(() => {
  console.log(contacts);
  fetchData();
});

const fetchData = async () => {
  loading.value = true;
  try {
    const response = await axios.get<{ data: Contacts[] }>(
      'https://backend-interview-bot.vercel.app/api/v1/contacts',
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    contacts.value = response.data.data;
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

const detailContact = async (id: string) => {
  loadingDetail.value = true;
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/${id}`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    contactsDetail.value = response.data;
    loadingDetail.value = false;
  } catch (error) {
    console.log(error);
  }
};

const totalPages = computed(() => {
  return Math.ceil(contacts.value.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return contacts.value

    .filter((item) =>
      item.name.toLowerCase().includes(searchTitle.value.toLowerCase())
    )
    .slice(startIndex, endIndex);
});
let searchTitle = ref('');

const filteredItems = computed(() => {
  return channels.value.filter(
    (item) =>
      item.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
      !selectedItems.value.includes(item)
  );
});

const filteringData = computed(() => {
  return contacts.value.filter((item) =>
    item.name.toLowerCase().includes(searchTitle.value.toLowerCase())
  );
});

function postData() {
  axios
    .post(`https://backend-interview-bot.vercel.app/api/v1/contacts`, {
      name: contactName.value,
      telephone: phoneNumber.value,
    })
    .then((response) => {
      console.log(response.data);

      open.value = false;
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete<{ data: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/${id}`
    )
    .then((res) => {
      console.log(res);
      fetchData();
    })
    .catch((e) => console.log(e));
}

let contactName = ref('');
let phoneNumber = ref('');

function updateData(id: string) {
  axios
    .put(`https://backend-interview-bot.vercel.app/api/v1/contacts/${id}`, {
      name: contactName.value,
      telephone: phoneNumber.value,
    })
    .then((response) => {
      console.log(response.data);
      openEdit.value = false;
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}
const editId = ref('');

function showEditModal(id: string, name: string, number: string) {
  openEdit.value = true;
  editId.value = id;
  contactName.value = name;
  phoneNumber.value = number;
  console.log(editId.value);
}

function showAddModal() {
  open.value = true;
  contactName.value = '';
  phoneNumber.value = '';
}

function closeModal() {
  open.value = false;
  openEdit.value = false;
}

const timer = ref<NodeJS.Timeout>();

function startTimer() {
  clearTimeout(timer.value);
  timer.value = setTimeout(() => {
    searchDropdown.value = false;
  }, 1000);
}

function print(item: string) {
  console.log(item);
}

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>

<style>
.modal {
  transition: opacity 0.25s ease;
}
</style>
