<template>
  <div class="">
    <div>
      <h3 class="cursor-pointer text-3xl font-medium">Forms</h3>
    </div>

    <div v-if="loading" class="w-full h-80 flex justify-center items-center">
      <div>
        <Icon
          icon="ion:reload-outline"
          color=""
          class="p-2 animate-spin h-24 w-24"
        />
        <h3 class="animate-bounce ml-3 mt-4 font-medium text-lg">Loading...</h3>
      </div>
    </div>

    <div v-else>
      <!-- Disini untuk search dan Button -->
      <div class="flex items-center justify-between mt-8">
        <div class="flex items-center">
          <div class="relative mx-4 lg:mx-0">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <Icon icon="ion:search" />
            </span>

            <input
              class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Search"
              v-model="searchTitle"
              @input="searchDropdown = true"
              @blur="searchDropdown = false"
            />
          </div>
          <div
            v-if="searchDropdown"
            class="absolute bg-white rounded-b-lg whitespace-normal overflow-y-scroll mt-64 w-64 h-52 md:ml-4"
          >
            <p
              v-for="u in filteringData"
              :key="u.title"
              class="hover:bg-gray-100 cursor-pointer p-2"
            >
              {{ u.title }}
            </p>
          </div>
        </div>

        <div class="flex items-center">
          <div>
            <router-link
              to="/forms/add-forms"
              :props="{ addForm: true }"
              class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Add Forms
            </router-link>
          </div>
        </div>
      </div>

      <!-- Disini untuk Table -->
      <div class="flex flex-col mt-8">
        <div
          class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
        >
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
          >
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Title
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Target
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Total Target
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Expired
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Status
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Progress
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Action
                  </th>
                </tr>
              </thead>

              <tbody class="bg-white">
                <tr v-for="(u, index) in displayedData" :key="index">
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="flex items-center text-sm font-medium leading-5 text-gray-900"
                    >
                      {{ u.title }}
                    </div>
                  </td>

                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-900">
                      {{ u.targets?.name }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-900">
                      {{ u.targets?.contacts.length }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-600">
                      {{ u.expired_date }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="text-sm leading-5 text-gray-900 flex justify-center pb-1 rounded-full"
                      :class="{
                        ' bg-green-200 text-green-900':
                          u.status === 'success'
                            ? ' bg-red-200 text-red-900'
                            : u.status === 'failed',
                        ' bg-indigo-200 text-indigo-900': u.status === 'ready',
                      }"
                    >
                      {{ u.status }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-900">
                      {{ u.progress }}%
                    </div>
                  </td>

                  <td
                    class="flex justify-center px-6 py-6 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap"
                  >
                    <router-link
                      :to="{ name: 'FormsDetail', params: { id: u._id } }"
                      class="text-indigo-600 hover:text-indigo-900 mr-2"
                      >Detail</router-link
                    >
                    <span class="">
                      <div>
                        <router-link
                          :to="{ name: 'EditForms', params: { id: u._id } }"
                          :props="{ addForm: false }"
                          @click="openEdit = true"
                          class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                        >
                          Edit
                        </router-link>

                        <div
                          :class="`modal ${
                            !openEdit && 'opacity-0 pointer-events-none'
                          } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                        >
                          <div
                            @click="openEdit = false"
                            class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
                          ></div>

                          <form
                            @submit.prevent="updateData(u._id)"
                            class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
                          >
                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                            <div class="px-6 py-4 text-left modal-content">
                              <!--Title-->
                              <div
                                class="flex items-center justify-between pb-3"
                              >
                                <p class="text-2xl font-bold">Edit contact</p>
                                <div
                                  class="z-50 cursor-pointer modal-close"
                                  @click="openEdit = false"
                                >
                                  <Icon icon="ion:close" class="w-6 h-6" />
                                </div>
                              </div>

                              <!--Body-->
                              <div
                                class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                              >
                                <label class="text-xs">Name</label>

                                <div
                                  class="relative mt-2 my-4 rounded-md shadow"
                                >
                                  <input
                                    v-model="groupName"
                                    type="text"
                                    placeholder="Target name..."
                                    class="w-full p-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                  />
                                </div>
                              </div>

                              <!--Footer-->
                              <div class="flex justify-end pt-4">
                                <div
                                  @click="openEdit = false"
                                  class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                                >
                                  Close
                                </div>
                                <button
                                  @click="openEdit = false"
                                  type="submit"
                                  class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                                >
                                  Submit
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </span>
                    <span
                      @click="deleteData(u._id)"
                      class="cursor-pointer text-red-600 hover:text-red-900"
                    >
                      delete
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="">
        <ul class="flex justify-end mt-4">
          <li class="">
            <button
              :disabled="dataState.currentPage === 1"
              @click="dataState.currentPage--"
              class="bg-white relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === 1 }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-back" />
            </button>
          </li>
          <div v-if="pages[4] + 1 > 6">
            <li
              @click="dataState.currentPage = 1"
              class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              1
            </li>
            <li
              class="bg-white relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
          </div>
          <div v-for="page in pages" :key="page">
            <li class="">
              <button
                :class="[
                  {
                    'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                      page === dataState.currentPage,
                    '  hover:bg-gray-100': page !== dataState.currentPage,
                  },
                ]"
                @click="dataState.currentPage = page"
                :disabled="page === dataState.currentPage"
                class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
              >
                {{ page }}
              </button>
            </li>
          </div>
          <div v-if="pages[4] < totalPages">
            <li
              class="bg-white relative inline-flex items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
            <li
              @click="dataState.currentPage = totalPages"
              class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              {{ totalPages }}
            </li>
          </div>
          <li class="">
            <button
              :disabled="dataState.currentPage === totalPages"
              @click="dataState.currentPage++"
              class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-forward" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed, defineProps } from 'vue';
import axios, { AxiosResponse } from 'axios';
import Papa from 'papaparse';

const props = defineProps<{
  id: string;
}>();

const loading = ref(false);
const open = ref(false);
const openEdit = ref(false);

interface Forms {
  _id: string;
  title: string;
  status: string;
  fields: any[];
  progress: number;
  goal: string;
  botId: string;
  expired_date: Date;
  targets: {
    _id: string;
    name: string;
    channel: any[];
    contacts: [
      {
        _id: string;
        name: string;
        telephone: string;
      }
    ];
  };
  responses: [];
}

// interface Targets {
//   _id: string;
//   name: string;
//   channel: any[];
//   contacts: any[];
// }

const forms = ref<Forms[]>([]);

onMounted(() => {
  fetchData();
});

interface DataState {
  currentPage: number;
  itemsPerPage: number;
}

const dataState = ref<DataState>({
  currentPage: 1,
  itemsPerPage: 5,
});

const totalPages = computed(() => {
  return Math.ceil(forms.value.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return forms.value.slice(startIndex, endIndex);
});

const fetchData = async () => {
  loading.value = true;
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/forms`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    forms.value = response.data;
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

function updateData(id: string) {
  axios
    .put(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`, {
      name: groupName.value,
      telephone: phoneNumber.value,
    })
    .then((response) => {
      console.log(response.data);
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`)
    .then((response) => {
      console.log(response.data);
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}

// edit data
let groupName = ref('');
let phoneNumber = ref('');

let searchTitle = ref('');
let searchDropdown = ref(false);

const filteringData = computed(() => {
  return forms.value.filter((item) =>
    item.title.toLowerCase().includes(searchTitle.value.toLowerCase())
  );
});

function print(item: string) {
  console.log(item);
}

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>
