<template>
  <div v-if="loading" class="w-full h-80 flex justify-center items-center">
    <div>
      <Icon
        icon="ion:reload-outline"
        color=""
        class="p-2 animate-spin h-24 w-24"
      />
      <h3 class="animate-bounce ml-3 mt-4 font-medium text-lg">Loading...</h3>
    </div>
  </div>
  <div v-else>
    <div class="flex items-center justify-between mt-8">
      <div>
        <!-- breadcrumbs -->
        <router-link
          to="/forms"
          class="text-gray-500 text-3xl font-medium cursor-pointer"
        >
          Forms
        </router-link>
        <span class="text-3xl font-medium">&nbsp;>&nbsp;</span>
        <span class="text-3xl font-medium">Details</span>
      </div>

      <div class="flex items-center">
        <div>
          <button
            @click="open = true"
            class="px-12 py-2 mt-3 font-medium text-lg tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
          >
            Start
          </button>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg px-4 pb-4 mt-4">
      <div class="grid grid-rows-3 grid-flow-col">
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Forms name</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              {{ forms.title }}
            </div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">
              Total of validated target
            </div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">{{}}</div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Channels</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              <span v-for="(item, index) in target.channel" :key="index"
                >{{ item }},
              </span>
            </div>
          </div>
        </div>

        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Status</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              {{ forms.status }}
            </div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Progress</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              {{ forms.progress }}%
            </div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Expired</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              {{ forms.expired_date }}
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-around pt-10 pb-4">
        <div
          v-for="(i, index) in filterTitle"
          :key="index"
          class="text-white font-medium rounded bg-indigo-500 border border-indigo-800 divide-y divide-gray-800 max-w-max mr-2"
        >
          <div class="px-6 py-4">800</div>
          <div class="flex justify-center">{{ i }}</div>
        </div>
      </div>
    </div>

    <!-- Disini untuk search dan Button -->
    <div class="flex items-center justify-between mt-8">
      <div class="flex items-center">
        <div v-for="(i, index) in filterTitle" :key="index">
          <div
            @click="statusData(index)"
            class="bg-gray-300 border border-gray-400 mr-2 px-4 py-2 rounded-full cursor-pointer"
            :class="{
              'bg-white border border-indigo-600':
                index === filteredSelectedIndex,
            }"
          >
            {{ i }}
          </div>
        </div>
      </div>

      <!-- ini modals -->
      <div class="flex items-center">
        <button
          class="px-5 py-3 mt-3 mr-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
        >
          Download Result
        </button>
      </div>
    </div>

    <!-- Disini untuk Table -->
    <div class="flex flex-col mt-8">
      <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div
          class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Name
                </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Target phone number
                </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Status
                </th>
                <th
                  class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="bg-white">
              <tr v-for="(u, index) in displayedData" :key="index">
                <td
                  class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                >
                  <div
                    class="flex items-center text-sm font-medium leading-5 text-gray-900"
                  >
                    {{ u.name }}
                  </div>
                </td>

                <td
                  class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                >
                  <div
                    class="flex items-center text-sm font-medium leading-5 text-gray-900"
                  >
                    {{ u.telephone }}
                  </div>
                </td>

                <td
                  class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                >
                  <div
                    class="text-sm text-white leading-5 bg-red-600 border border-red-900 text-center rounded-full py-1"
                    :class="'bg-green-600 border-green-900'"
                  >
                    {{ u.is_valid ? 'Valid' : 'Unvalid' }}
                  </div>
                </td>

                <td
                  class="flex justify-center px-6 py-4 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap"
                >
                  <a href="#" class="text-indigo-600 hover:text-indigo-900 mr-2"
                    >Detail</a
                  >
                  <span class="">
                    <div>
                      <button
                        @click="openEdit = true"
                        class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                      >
                        Edit
                      </button>

                      <div
                        :class="`modal ${
                          !openEdit && 'opacity-0 pointer-events-none'
                        } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                      >
                        <div
                          @click="openEdit = false"
                          class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
                        ></div>

                        <form
                          @submit.prevent="updateData(u._id)"
                          class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
                        >
                          <!-- Add margin if you want to see some of the overlay behind the modal-->
                          <div class="px-6 py-4 text-left modal-content">
                            <!--Title-->
                            <div class="flex items-center justify-between pb-3">
                              <p class="text-2xl font-bold">Edit contact</p>
                              <div
                                class="z-50 cursor-pointer modal-close"
                                @click="openEdit = false"
                              >
                                <Icon icon="ion:close" class="w-6 h-6" />
                              </div>
                            </div>

                            <!--Body-->
                            <div
                              class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                            >
                              <label class="text-xs">Name</label>

                              <div class="relative mt-2 my-4 rounded-md shadow">
                                <input
                                  v-model="groupName"
                                  type="text"
                                  placeholder="Target name..."
                                  class="w-full p-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                />
                              </div>
                            </div>
                            <div
                              class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                            >
                              <label class="text-xs">Phone number</label>

                              <div class="relative mt-2 my-4 rounded-md shadow">
                                <input
                                  v-model="phoneNumber"
                                  type="text"
                                  placeholder="Target phone number"
                                  class="w-full p-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                />
                              </div>
                            </div>

                            <!--Footer-->
                            <div class="flex justify-end pt-4">
                              <div
                                @click="openEdit = false"
                                class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                              >
                                Close
                              </div>
                              <button
                                @click="openEdit = false"
                                type="submit"
                                class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                              >
                                Submit
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </span>
                  <span
                    @click="deleteData(u._id)"
                    class="cursor-pointer text-red-600 hover:text-red-900"
                  >
                    delete
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="">
      <ul class="flex justify-end mt-4">
        <li class="">
          <button
            :disabled="dataState.currentPage === 1"
            @click="dataState.currentPage--"
            class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            :class="{ 'text-gray-400': dataState.currentPage === 1 }"
          >
            <span class="sr-only">Previous</span>
            <Icon icon="ion:chevron-back" />
          </button>
        </li>
        <div v-if="pages[4] + 1 > 6">
          <li
            @click="dataState.currentPage = 1"
            class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            1
          </li>
          <li
            class="bg-white relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            ...
          </li>
        </div>
        <div v-for="page in pages" :key="page">
          <li class="">
            <button
              :class="[
                {
                  'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                    page === dataState.currentPage,
                  '  hover:bg-gray-100': page !== dataState.currentPage,
                },
              ]"
              @click="dataState.currentPage = page"
              :disabled="page === dataState.currentPage"
              class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
            >
              {{ page }}
            </button>
          </li>
        </div>
        <div v-if="pages[4] < totalPages">
          <li
            class="bg-white relative inline-flex items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            ...
          </li>
          <li
            @click="dataState.currentPage = totalPages"
            class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            {{ totalPages }}
          </li>
        </div>
        <li class="">
          <button
            :disabled="dataState.currentPage === totalPages"
            @click="dataState.currentPage++"
            class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
          >
            <span class="sr-only">Previous</span>
            <Icon icon="ion:chevron-forward" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed, defineProps } from 'vue';
import axios, { AxiosResponse } from 'axios';

const props = defineProps<{
  id: string;
}>();

const loading = ref(false);

const open = ref(false);
const openEdit = ref(false);

const filterTitle = ref(['All', 'Success', 'Running', 'Failed', 'Pending']);

interface Forms {
  _id: string;
  title: string;
  status: string;
  fields: any[];
  progress: number;
  goal: string;
  botId: string;
  expired_date: Date;
  targets: Targets[];
  responses: [];
}

interface Targets {
  _id: string;
  name: string;
  channel: any[];
  contacts: any[];
}

const target = ref<Targets>({
  _id: '',
  name: '',
  channel: [],
  contacts: [],
});

const forms = ref<Forms>({
  _id: '',
  title: '',
  status: '',
  fields: [],
  progress: 0,
  goal: '',
  botId: '',
  expired_date: new Date(),
  targets: [],
  responses: [],
});

const fetchTargetData = async (id: string) => {
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`
    );
    target.value = response.data;
    // console.log(response.data.data);
  } catch (error) {
    console.log(error);
  }
};

const fetchFormsData = async (id: string) => {
  loading.value = true;
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/forms/${id}`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    forms.value = response.data;
    fetchTargetData(response.data.targets?._id);
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

onMounted(() => {
  fetchFormsData(props.id);
});

interface DataState {
  data: [];
  responses: any[];
  currentPage: number;
  itemsPerPage: number;
  isShowModal: boolean;
  isAdd: boolean;
  query: string;
  searchTerm: string;
  items: string[];
  showDropdown: boolean;
  selectedItems: string[];
}

const dataState = ref<DataState>({
  data: [],
  responses: [],
  currentPage: 1,
  itemsPerPage: 5,
  isShowModal: false,
  isAdd: false,
  query: '',
  searchTerm: '',
  items: [
    'Agus Hendrawan',
    'Maulana Ibrahim',
    'Kepadamu dulu aku jatuh cinta',
    'Item 4',
    'Item 5',
  ],
  showDropdown: false,
  selectedItems: [],
});

interface DataPost {
  name: string;
  telephone: string;
}

const data = <DataPost>{
  name: '',
  telephone: '',
};

const totalPages = computed(() => {
  return Math.ceil(target.value.contacts.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return target.value.contacts.slice(startIndex, endIndex);
});

function postData() {
  axios
    .post(`https://backend-interview-bot.vercel.app/api/v1/forms/${props.id}`, {
      contacts: [{ name: data.name, telephone: data.telephone }],
    })
    .then((response) => {
      console.log(response.data);
      fetchFormsData(props.id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function updateData(id: string) {
  axios
    .put(`https://backend-interview-bot.vercel.app/api/v1/forms/${props.id}`, {
      name: groupName.value,
      telephone: phoneNumber.value,
    })
    .then((response) => {
      console.log(response.data);
      fetchFormsData(id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`)
    .then((response) => {
      console.log(response.data);
    })
    .catch((e) => {
      console.log(e);
    });
}

// import contact
const file = ref<File | null>(null);

const handleFileUpload = (event: Event) => {
  const input = event.target as HTMLInputElement;
  if (input.files && input.files.length > 0) {
    file.value = input.files[0];
  }
};

const uploadFile = async () => {
  if (!file.value) {
    return;
  }

  const formData = new FormData();
  formData.append('contacts', file.value);

  try {
    const response = await axios.post(
      'https://backend-interview-bot.vercel.app/api/v1/contacts/import',
      formData,
      {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }
    );
    console.log(response.data);
  } catch (error) {
    console.error(error);
  }

  file.value = null;
};

// edit data
let groupName = ref('');
let phoneNumber = ref('');

let searchTitle = ref('');
let searchDropdown = ref(false);

// const filteringData = computed(() => {
//   return forms.value.filter((item) =>
//     item..toLowerCase().includes(searchTitle.value.toLowerCase())
//   );
// });

//filtering data
let filteredSelectedIndex = ref(0);
function statusData(i: number) {
  if (i === i) {
    filteredSelectedIndex.value = i;
    if (i === 1) {
    }
    if (i === 2) {
    }
  }
}

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>
