<template>
  <div>
    <div>
      <router-link to="/forms" class="text-3xl font-medium text-gray-500"
        >Forms</router-link
      >
      <span class="text-3xl font-medium"> &nbsp;>&nbsp;Edit forms </span>
    </div>

    <div class="bg-white mt-4 rounded-lg shadow-sm py-4 px-6">
      <form @submit.prevent="updateData(props.id)">
        <div>
          <label for="title" class="text-lg font-medium">Form Title </label>
          <input
            v-model="formsData.title"
            type="text"
            :placeholder="`${formsData.title}`"
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
          <div class="mt-3 flex">
            <div
              class="text-base font-normal mr-12 flex justify-center items-center"
            >
              Take from contact?
            </div>
            <div
              class="flex items-center bg-gray-300 rounded-full w-14 h-18 p-1 cursor-pointer"
              :class="{
                'bg-indigo-600 ': isActive,
              }"
              @click="toggle"
            >
              <div
                class="h-6 w-6 rounded-full shadow-md transform bg-white"
                :class="{
                  'translate-x-6': isActive,
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <label for="contact" class="font-medium">Contact </label>
          <input
            :disabled="!isActive"
            v-model="formsData.contact"
            type="text"
            :placeholder="`${formsData.targets.name}`"
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
            :class="{ 'bg-gray-100': !isActive }"
          />
        </div>
        <div class="mt-4">
          <div class="flex justify-between items-end mb-3">
            <label for="format" class="font-medium">Contact Import</label>
            <button
              class="px-4 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
            >
              Download format
            </button>
          </div>
          <input
            type="text"
            placeholder=""
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="aiChar" class="font-medium">AI Character</label>
          <input
            v-model="formsData.botId"
            type="text"
            :placeholder="`${formsData.botId}`"
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="language" class="font-medium">Select language</label>
          <select
            id="language"
            class="form-select block w-full text-gray-500 mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          >
            <option value="en">English</option>
            <option value="id">Bahasa Indonesia</option>
            <option value="es">Spanish</option>
            <option value="ms">Malay</option>
          </select>
        </div>
        <div class="mt-4">
          <label for="expired" class="font-medium">Expired date</label>
          <input
            v-model="formsData.expired"
            type="date"
            :placeholder="`${formsData.expired}`"
            class="cursor-pointer block w-full mt-1 border-gray-200 text-gray-500 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="topics" class="font-medium">Form topics</label>
          <input
            v-model="formsData.goal"
            type="text"
            :placeholder="`${formsData.goal}`"
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="my-4">
          <label for="fields" class="font-medium"
            >Necessary data (ex: name, phone number, addres, etc.)</label
          >
          <div class="flex">
            <input
              v-model="formsData.newField"
              type="text"
              placeholder="Enter the data you wants to get in this form..."
              class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
            />
            <span
              @click="addField"
              class="flex items-center px-4 h-12 mt-1 ml-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 cursor-pointer"
            >
              Add
            </span>
          </div>
          <div class="mt-2 border border-gray-200 rounded p-2 text-gray-500">
            <ul>
              <li v-for="(field, index) in formsData.fields" :key="index">
                {{ field }}
                <span
                  type="button"
                  @click="removeField(index)"
                  class="ml-2 text-red-500 cursor-pointer"
                  >Remove</span
                >
              </li>
              <li v-if="formsData.fields.length < 1">
                Tambahkan data yang dibutuhkan
              </li>
            </ul>
          </div>
        </div>
        <div class="flex justify-end">
          <router-link
            to="/forms"
            class="px-4 mr-3 py-2 tracking-wide text-indigo-600 capitalize transition-colors duration-200 transform bg-white rounded-md hover:bg-gray-200 focus:outline-none focus:bg-indigo-500"
          >
            Cancel
          </router-link>
          <button
            type="submit"
            class="px-4 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
          >
            Sumbit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import axios from 'axios';
import { ref, onMounted, defineProps } from 'vue';
import { useRouter } from 'vue-router';
import { toggleSwitch } from '../hooks/useToggleSwitch';
import router from '../router';

onMounted(() => {
  fetchData(props.id);
});

const props = defineProps<{
  id: string;
}>();

const languageOptions = [
  { text: 'Indonesia', value: 'id' },
  { text: 'English', value: 'en' },
  { text: 'Spanish', value: 'es' },
  { text: 'French', value: 'fr' },
];
const isActive = ref(false);

function toggle() {
  isActive.value = toggleSwitch(isActive.value);
  console.log(isActive.value);
}

interface FormsData {
  _id: string;
  title: string;
  contact: string;
  botId: string;
  lang: string;
  newField: string;
  goal: string;
  expired: Date;
  fields: any[];
  targets: {
    _id: string;
    name: string;
    channel: any[];
    contacts: any[];
  };
}

const formsData = ref<FormsData>({
  _id: '',
  title: '',
  contact: '',
  botId: '',
  lang: '',
  newField: '',
  goal: '',
  expired: new Date(),
  fields: [],
  targets: {
    _id: '',
    name: '',
    channel: [],
    contacts: [],
  },
});

// const formData = ref<FormsData[]>([]);

function fetchData(id: string) {
  axios
    .get(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`, {
      headers: {
        'Access-Control-Allow-Origin': 'http://localhost:8080',
      },
    })
    .then((response) => {
      formsData.value = response.data;
      console.log(response.data);
    })
    .catch((e) => {
      console.log(e);
    });
}

function updateData(id: string) {
  axios
    .put(`https://backend-interview-bot.vercel.app/api/v1/forms/${props.id}`, {
      title: formsData.value.title,
      targets: '6425aa1de718816ca001d42e',
      goal: formsData.value.goal,
      botId: formsData.value.botId,
      fields: formsData.value.fields,
      expired_date: formsData.value.expired,
    })
    .then((response) => {
      console.log(response.data);

      routers.push('/forms');
    })
    .catch((e) => {
      console.log(e);
    });
}

const routers = useRouter();
function addField() {
  if (formsData.value.newField.trim() !== '') {
    formsData.value.fields.push(formsData.value.newField.trim());
    formsData.value.newField = '';
  }
}

function removeField(index: number) {
  formsData.value.fields.splice(index, 1);
}
</script>
