<template>
  <div>
    <h3 class="text-3xl font-medium">Groups</h3>
    <div v-if="loading" class="w-full h-80 flex justify-center items-center">
      <div>
        <Icon
          icon="ion:reload-outline"
          color=""
          class="p-2 animate-spin h-24 w-24"
        />
        <h3 class="animate-bounce ml-3 mt-4 font-medium text-lg">Loading...</h3>
      </div>
    </div>

    <div v-else>
      <!-- Disini untuk search dan Button -->
      <div class="flex items-center justify-between mt-8">
        <div class="flex items-center">
          <div class="relative mx-4 lg:mx-0">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <Icon icon="ion:search" />
            </span>

            <input
              class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Search"
              v-model="searchTitle"
              @input="searchDropdown = true"
              @blur="startTimer"
            />
          </div>
          <div
            v-if="searchDropdown"
            class="absolute bg-gray-100 rounded-b-lg whitespace-normal overflow-y-scroll ml-3.5 mt-64 h-52"
          >
            <p
              v-for="u in filteringData"
              :key="u.name"
              @click="searchTitle = u.name"
              class="hover:bg-gray-50 cursor-pointer px-4 py-2 w-64"
            >
              {{ u.name }}
            </p>
          </div>
        </div>

        <div class="flex items-center">
          <div>
            <button
              @click="open = true"
              class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Add Group
            </button>

            <div
              :class="`modal ${
                !open && 'opacity-0 pointer-events-none'
              } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
            >
              <div
                @click="open = false"
                class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
              ></div>

              <form
                @submit.prevent="postData"
                class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
              >
                <!-- Add margin if you want to see some of the overlay behind the modal-->
                <div class="px-6 py-4 text-left modal-content">
                  <!--Title-->
                  <div class="flex items-center justify-between pb-3">
                    <p class="text-2xl font-bold">Add Group Contact</p>
                    <div
                      class="z-50 cursor-pointer modal-close"
                      @click="open = false"
                    >
                      <Icon icon="ion:close" class="w-6 h-6" />
                    </div>
                  </div>

                  <!--Body-->
                  <div
                    class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                  >
                    <label class="text-xs">Group Name</label>

                    <div class="relative mt-2 my-4 rounded-md shadow">
                      <span
                        class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-600"
                      >
                        <Icon icon="ion:person" />
                      </span>

                      <input
                        v-model="dataState.groupName"
                        type="text"
                        placeholder="Enter the group name..."
                        class="w-full px-12 py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                      />
                    </div>

                    <label class="text-xs">Channel</label>
                    <div class="mt-2 rounded-md shadow">
                      <input
                        class="w-full py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                        type="text"
                        placeholder="Select a channel..."
                        v-model="searchTerm"
                        @input="search"
                        @blur="showDropdown = false"
                      />

                      <div
                        v-if="showDropdown"
                        class="absolute w-80 h-40 bg-gray-100 rounded-md shadow-lg mt-1 overflow-y-scroll"
                      >
                        <ul class="py-2">
                          <li
                            v-for="(item, index) in filteredItems"
                            :key="index"
                            class="px-4 py-2 cursor-pointer hover:bg-gray-50"
                            @click="selectItem(item)"
                          >
                            {{ item }}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div v-if="selectedItems.length > 0" class="mt-2">
                      <span
                        v-for="(item, index) in selectedItems"
                        :key="index"
                        class="bg-indigo-600 text-white rounded-lg px-2 py-1 mr-2 mt-2 inline-block"
                      >
                        {{ item }}
                        <button class="ml-2" @click="removeItem(index)">
                          <Icon
                            icon="ion:close-circle"
                            color="red"
                            class="inline-block w-6 h-6"
                          ></Icon>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!--Footer-->
                  <div class="flex justify-end pt-4">
                    <div
                      @click="open = false"
                      class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                    >
                      Close
                    </div>
                    <button
                      @click="open = false"
                      type="submit"
                      class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Disini untuk Table -->
      <div class="flex flex-col mt-8 pb-5">
        <div
          class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
        >
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
          >
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Contact Name
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Total Target
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Channel
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Action
                  </th>
                </tr>
              </thead>

              <tbody class="bg-white">
                <tr v-for="(u, index) in displayedData" :key="index">
                  <td
                    class="px-6 py-2 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="flex items-center text-sm font-medium leading-5 text-gray-900"
                    >
                      {{ u.name }}
                    </div>
                  </td>

                  <td
                    class="px-6 py-2 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div class="text-sm leading-5 text-gray-900">
                      {{ u.total_contacts }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-2 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"
                  >
                    <p v-for="c in u.channel" :key="c">{{ c }}</p>
                  </td>

                  <td
                    class="space-x px-6 py-5 text-sm font-medium leading-5 text-center border-b border-gray-200 whitespace-nowrap"
                  >
                    <router-link
                      :to="{ name: 'GroupDetail', params: { id: u._id } }"
                      class="text-indigo-600 hover:text-indigo-900 mr-2 inline-block"
                      >Detail
                    </router-link>
                    <span class="inline-block">
                      <div>
                        <button
                          @click="openEdit = true"
                          class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                        >
                          Edit
                        </button>

                        <div
                          :class="`modal ${
                            !openEdit && 'opacity-0 pointer-events-none'
                          } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                        >
                          <div
                            @click="openEdit = false"
                            class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
                          ></div>

                          <form
                            @submit.prevent="updateData(u._id)"
                            class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
                          >
                            <!-- Add margin if you want to see some of the overlay behind the modal-->
                            <div class="px-6 py-4 text-left modal-content">
                              <!--Title-->
                              <div
                                class="flex items-center justify-between pb-3"
                              >
                                <p class="text-2xl font-bold">Edit contact</p>
                                <div
                                  class="z-50 cursor-pointer modal-close"
                                  @click="openEdit = false"
                                >
                                  <Icon icon="ion:close" class="w-6 h-6" />
                                </div>
                              </div>

                              <!--Body-->
                              <div
                                class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                              >
                                <label class="text-xs">Group Name</label>

                                <div
                                  class="relative mt-2 my-4 rounded-md shadow"
                                >
                                  <span
                                    class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-600"
                                  >
                                    <Icon icon="ion:person" />
                                  </span>

                                  <input
                                    v-model="dataState.groupName"
                                    type="text"
                                    placeholder="Enter the group name..."
                                    class="w-full px-12 py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                  />
                                </div>

                                <label class="text-xs">Channel</label>
                                <div class="mt-2 rounded-md shadow">
                                  <input
                                    class="w-full py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                    type="text"
                                    placeholder="Select a channel..."
                                    v-model="searchTerm"
                                    @input="search"
                                    @blur="showDropdown = false"
                                  />

                                  <div
                                    v-if="showDropdown"
                                    class="absolute w-80 h-40 bg-gray-100 rounded-md shadow-lg mt-1 overflow-y-scroll"
                                  >
                                    <ul class="py-2">
                                      <li
                                        v-for="(item, index) in filteredItems"
                                        :key="index"
                                        class="px-4 py-2 cursor-pointer hover:bg-gray-50"
                                        @click="selectItem(item)"
                                      >
                                        {{ item }}
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                                <div
                                  v-if="selectedItems.length > 0"
                                  class="mt-2"
                                >
                                  <span
                                    v-for="(item, index) in selectedItems"
                                    :key="index"
                                    class="bg-indigo-600 text-white rounded-lg px-2 py-1 mr-2 mt-2 inline-block"
                                  >
                                    {{ item }}
                                    <button
                                      class="ml-2"
                                      @click="removeItem(index)"
                                    >
                                      <Icon
                                        icon="ion:close-circle"
                                        color="red"
                                        class="inline-block w-6 h-6"
                                      ></Icon>
                                    </button>
                                  </span>
                                </div>
                              </div>

                              <!--Footer-->
                              <div class="flex justify-end pt-4">
                                <div
                                  @click="openEdit = false"
                                  class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                                >
                                  Close
                                </div>
                                <button
                                  @click="openEdit = false"
                                  type="submit"
                                  class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                                >
                                  Submit
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </span>
                    <span
                      @click="deleteData(u._id)"
                      class="cursor-pointer text-red-600 hover:text-red-900 inline-block"
                    >
                      delete
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="">
        <ul class="flex justify-end">
          <li class="">
            <button
              :disabled="dataState.currentPage === 1"
              @click="dataState.currentPage--"
              class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === 1 }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-back" />
            </button>
          </li>
          <div v-if="pages[4] + 1 > 6">
            <li
              @click="dataState.currentPage = 1"
              class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              1
            </li>
            <li
              class="relative inline-flex bg-white items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
          </div>
          <div v-for="page in pages" :key="page">
            <li class="">
              <button
                :class="[
                  {
                    'relative z-10 inline-flex items-center bg-blue-600 text-white px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                      page === dataState.currentPage,
                    '  hover:bg-gray-100': page !== dataState.currentPage,
                  },
                ]"
                @click="dataState.currentPage = page"
                :disabled="page === dataState.currentPage"
                class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
              >
                {{ page }}
              </button>
            </li>
          </div>
          <div v-if="pages[4] < totalPages">
            <li
              class="relative inline-flex bg-white items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
            <li
              @click="dataState.currentPage = totalPages"
              class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              {{ totalPages }}
            </li>
          </div>
          <li class="">
            <button
              :disabled="dataState.currentPage === totalPages"
              @click="dataState.currentPage++"
              class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-forward" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed } from 'vue';
import axios from 'axios';

let open = ref(false);
let openEdit = ref(false);
const loading = ref(false);
const searchDropdown = ref(false);

// let groupName = ref('');
let showDropdown = ref(false);
let selectedItems = ref<any[]>([]);
let searchTerm = ref('');
let channels = ref(['telegram', 'whatsapp']);

interface DataState {
  currentPage: number;
  itemsPerPage: number;
  groupName: string;
  channel: any[];
}

const dataState = ref<DataState>({
  currentPage: 1,
  itemsPerPage: 5,
  groupName: '',
  channel: [],
});

interface Contacts {
  _id: string;
  name: string;
  channel: string;
  contacts: {
    name: string;
    telephone: string;
    _id: string;
  }[];
  total_contacts: number;
}

const contacts = ref<Contacts[]>([]);

onMounted(() => {
  console.log(contacts);
  fetchData();
});

const fetchData = async () => {
  loading.value = true;
  try {
    const response = await axios.get<{ data: Contacts[] }>(
      'https://backend-interview-bot.vercel.app/api/v1/contacts/groups',
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    contacts.value = response.data.data;
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

const totalPages = computed(() => {
  return Math.ceil(contacts.value.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return contacts.value
    .slice(startIndex, endIndex)
    .filter((item) =>
      item.name.toLowerCase().includes(searchTitle.value.toLowerCase())
    );
});
let searchTitle = ref('');

const filteredItems = computed(() => {
  return channels.value.filter(
    (item) =>
      item.toLowerCase().includes(searchTerm.value.toLowerCase()) ||
      !selectedItems.value.includes(item)
  );
});

const filteringData = computed(() => {
  return contacts.value.filter((item) =>
    item.name.toLowerCase().includes(searchTitle.value.toLowerCase())
  );
});

function postData() {
  axios
    .post(`https://backend-interview-bot.vercel.app/api/v1/contacts/groups`, {
      name: dataState.value.groupName,
      channel: selectedItems.value,
    })
    .then((response) => {
      console.log(response.data);
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete<{ data: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`
    )
    .then((res) => {
      console.log(res);
      fetchData();
    })
    .catch((e) => console.log(e));
}

function updateData(id: string) {
  axios
    .put(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`,
      {
        name: dataState.value.groupName,
        channel: selectedItems.value,
      }
    )
    .then((response) => {
      console.log(response.data);
      fetchData();
    })
    .catch((e) => {
      console.log(e);
    });
}

function selectItem(item: any) {
  selectedItems.value.push(item);
  showDropdown = ref(false);
  searchTerm = ref('');
}

function search() {
  // console.log(data.showDropdown);
  showDropdown = ref(true);
}

function closeDropdown() {
  showDropdown = ref(false);
}

function removeItem(index: number) {
  selectedItems.value.splice(index, 1);
}
function print(item: string) {
  console.log(item);
}

const timer = ref<NodeJS.Timeout>();

function startTimer() {
  clearTimeout(timer.value);
  timer.value = setTimeout(() => {
    searchDropdown.value = false;
  }, 1000);
}

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>

<style>
.modal {
  transition: opacity 0.25s ease;
}
</style>
