<template>
  <div class="">
    <div>
      <router-link
        to="/group"
        class="cursor-pointer text-3xl font-medium text-gray-500"
      >
        Groups ><span class="text-black"> Details</span>
      </router-link>
    </div>

    <div v-if="loading" class="w-full h-80 flex justify-center items-center">
      <div>
        <Icon
          icon="ion:reload-outline"
          color=""
          class="p-2 animate-spin h-24 w-24"
        />
        <h3 class="animate-bounce ml-3 mt-4 font-medium text-lg">Loading...</h3>
      </div>
    </div>

    <div v-else>
      <div class="bg-white rounded-lg px-4 py-4 mt-4">
        <h4 class="text-lg font-medium">Group contact information</h4>
        <div class="grid grid-rows-3 grid-flow-col">
          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2 whitespace-normal text-start">
                Name of the groups
              </div>
              <div class="w-1/4 whitespace-normal text-center">:</div>
              <div class="w-1/2 whitespace-normal text-start">
                {{ groups.name }}
              </div>
            </div>
          </div>
          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2 whitespace-normal text-start">
                Total targets
              </div>
              <div class="w-1/4 whitespace-normal text-center">:</div>
              <div class="w-1/2 whitespace-normal">
                {{ groups.total_contacts }}
              </div>
            </div>
          </div>
          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2 whitespace-normal text-start">Channels</div>
              <div class="w-1/4 whitespace-normal text-center">:</div>
              <div class="w-1/2 whitespace-normal text-start">
                <span v-for="(item, index) in groups.channel" :key="index"
                  >{{ item }},
                </span>
              </div>
            </div>
          </div>

          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2 whitespace-normal text-start">Validate</div>
              <div class="w-1/4 whitespace-normal text-center">:</div>
              <div class="w-1/2 whitespace-normal">
                {{ validate }}
              </div>
            </div>
          </div>
          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2 whitespace-normal text-start">Unvalidate</div>
              <div class="w-1/4 whitespace-normal text-center">:</div>
              <div class="w-1/2 whitespace-normal text-start">
                {{ notValidate }}
              </div>
            </div>
          </div>
          <div class="grid grid-cols px-10">
            <div class="flex justify-between pt-4 pb-2 font-medium">
              <div class="w-1/2"></div>
              <div class="w-full whitespace-normal text-center">
                <button
                  class="px-3 py-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                >
                  Contact Validation
                </button>
              </div>
              <div class="w-1/2 whitespace-normal text-end"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Disini untuk search dan Button -->
      <div class="flex items-center justify-between mt-8">
        <div class="flex items-center">
          <div class="relative mx-4 lg:mx-0">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <Icon icon="ion:search" />
            </span>

            <input
              class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
              type="text"
              placeholder="Search"
              v-model="searchTerm"
            />
          </div>
        </div>

        <!-- ini modals -->
        <div class="flex items-center">
          <div>
            <button
              @click="open = true"
              class="px-6 py-3 mt-3 mr-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Add Target
            </button>

            <div
              :class="`modal ${
                !open && 'opacity-0 pointer-events-none'
              } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
            >
              <div
                @click="open = false"
                class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
              ></div>

              <form
                @submit.prevent="postData"
                class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
              >
                <!-- Add margin if you want to see some of the overlay behind the modal-->
                <div class="px-6 py-4 text-left modal-content">
                  <!--Title-->
                  <div class="flex items-center justify-between pb-3">
                    <p class="text-2xl font-bold">Add a target</p>
                    <div
                      class="z-50 cursor-pointer modal-close"
                      @click="open = false"
                    >
                      <Icon icon="ion:close" class="w-6 h-6" />
                    </div>
                  </div>

                  <!--Body-->
                  <div
                    class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                  >
                    <label class="text-xs">Add Contact</label>

                    <div class="relative mt-2 rounded-md shadow">
                      <input
                        v-model="dataPost.name"
                        placeholder="Target name..."
                        type="text"
                        class="w-full py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                        @input="showDropdown = true"
                      />
                      <!-- @blur="showDropdown = false" -->
                    </div>
                    <div
                      v-if="showDropdown"
                      class="absolute w-80 h-40 bg-gray-100 rounded-md shadow-lg mt-1 overflow-y-scroll"
                    >
                      <ul class="py-2">
                        <li
                          v-for="(item, index) in searchingContact"
                          :key="index"
                          class="px-4 py-2 cursor-pointer hover:bg-gray-50"
                          @click="selectTarget(item._id, item.name)"
                        >
                          {{ item.name }}
                        </li>
                      </ul>
                    </div>
                    <div v-if="selectedTarget.name.length > 0" class="mt-2">
                      <span
                        v-for="(i, index) in selectedTarget.name"
                        :key="index"
                        class="bg-indigo-600 text-white rounded-lg px-2 py-1 mr-2 mt-2 inline-block"
                      >
                        {{ i }}
                        <button class="ml-2" @click="removeTarget(index)">
                          <Icon
                            icon="ion:close-circle"
                            color="red"
                            class="inline-block w-6 h-6"
                          ></Icon>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!--Footer-->
                  <div class="flex justify-end pt-4">
                    <div
                      @click="open = false"
                      class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                    >
                      Close
                    </div>
                    <button
                      type="submit"
                      @click="open = false"
                      class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <button
          class="px-5 py-3 mt-3 mr-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
        >
          Download Format
        </button>
        <div class="mt-2">
          <div v-if="!file">
            <label
              for="csv-upload"
              class="cursor-pointer px-5 py-3.5 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Import Contact
            </label>
            <input
              id="csv-upload"
              type="file"
              class="hidden"
              accept=".csv"
              @change="handleFileUpload"
            />
          </div>
          <div v-else>
            <p class="mb-4">Selected file: {{ file.name }}</p>
            <button
              class="px-5 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
              @click="uploadFile"
            >
              Upload
            </button>
          </div>
        </div>
      </div>

      <!-- Disini untuk Table -->
      <div class="flex flex-col mt-8">
        <div
          class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
        >
          <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
          >
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Target name
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Target phone number
                  </th>
                  <th
                    class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Status
                  </th>
                  <th
                    class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                  >
                    Action
                  </th>
                </tr>
              </thead>

              <tbody class="bg-white">
                <tr v-for="(u, index) in displayedData" :key="index">
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="flex items-center text-sm font-medium leading-5 text-gray-900"
                    >
                      {{ u.name }}
                    </div>
                  </td>
                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="flex items-center text-sm font-medium leading-5 text-gray-900"
                    >
                      {{ u.telephone }}
                    </div>
                  </td>

                  <td
                    class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                  >
                    <div
                      class="text-sm text-center leading-5 bg-red-600 border border-red-900 p-1 rounded-full text-white"
                      :class="{ 'bg-green-600 border-green-600': u.is_valid }"
                    >
                      {{ u.is_valid === false ? 'Unvalid' : 'Valid' }}
                    </div>
                  </td>

                  <td
                    class="px-6 py-8 text-sm font-medium leading-5 text-center border-b border-gray-200 whitespace-nowrap block"
                  >
                    <!-- <ModalLayout button-text="Detail" title="Detail Contact">
                      <div
                        class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg block"
                      >
                        <label class="text-xs pb-1">Name:</label>
                        <div class="pb-8">{{ u.name }}</div>

                        <label for="text-xs pb-1">Phone Number:</label>
                        <div>{{ u.telephone }}</div>
                      </div>
                    </ModalLayout> -->

                    <span
                      @click="deleteData(u._id)"
                      class="cursor-pointer text-red-600 hover:text-red-900"
                    >
                      delete
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Pagination -->
      <div class="">
        <ul class="flex justify-end mt-4">
          <li class="">
            <button
              :disabled="dataState.currentPage === 1"
              @click="dataState.currentPage--"
              class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === 1 }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-back" />
            </button>
          </li>
          <div v-if="pages[4] + 1 > 6">
            <li
              @click="dataState.currentPage = 1"
              class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              1
            </li>
            <li
              class="bg-gray-200 relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
          </div>
          <div v-for="page in pages" :key="page">
            <li class="">
              <button
                :class="[
                  {
                    'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                      page === dataState.currentPage,
                    '  hover:bg-gray-100 bg-white':
                      page !== dataState.currentPage,
                  },
                ]"
                @click="dataState.currentPage = page"
                :disabled="page === dataState.currentPage"
                class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
              >
                {{ page }}
              </button>
            </li>
          </div>
          <div v-if="pages[4] < totalPages">
            <li
              class="bg-gray-200 relative inline-flex items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"
            >
              ...
            </li>
            <li
              @click="dataState.currentPage = totalPages"
              class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              {{ totalPages }}
            </li>
          </div>
          <li class="">
            <button
              :disabled="dataState.currentPage === totalPages"
              @click="dataState.currentPage++"
              class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
            >
              <span class="sr-only">Previous</span>
              <Icon icon="ion:chevron-forward" />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed, defineProps } from 'vue';
import axios, { AxiosResponse } from 'axios';
import Papa from 'papaparse';
import ModalScreen from '../components/ModalSreen.vue';

const props = defineProps<{
  id: string;
}>();

const open = ref(false);
const openDetail = ref(false);
const openEdit = ref(false);
const loading = ref(false);
const loadingDetail = ref(false);
let showDropdown = ref(false);

interface SelectedTarget {
  _id: string[];
  name: string[];
}

let selectedTarget = ref<SelectedTarget>({
  _id: [],
  name: [],
});

interface Contacts {
  data: [
    {
      _id: string;
      name: string;
      telephone: string;
      is_valid: boolean;
      channel: [];
    }
  ];
}

interface Groups {
  _id: string;
  name: string;
  channel: string;
  contacts: {
    name: string;
    telephone: string;
    _id: string;

    is_valid: boolean;
  }[];
  total_contacts: number;
}

const filteredContacts = ref<Contacts>({
  data: [
    {
      _id: '',
      name: '',
      telephone: '',
      is_valid: false,
      channel: [],
    },
  ],
});

const contacts = ref<Contacts[]>([]);
const groups = ref<Groups>({
  _id: '',
  name: '',
  channel: '',
  contacts: [],
  total_contacts: 0,
});

const searchTerm = ref('');
const showSearchDropdown = ref(false);

const contactName = computed(() => {
  return groups.value.contacts.flatMap((item) => item._id);
});
const filteredGroups = computed(() => {
  return groups.value.contacts.filter((item) =>
    item.name.toLowerCase().includes(searchTerm.value.toLowerCase())
  );
});
const flatGroups = computed(() => {
  return groups.value.contacts.flatMap((item) => item.is_valid);
});

const validate = computed(() => {
  return flatGroups.value.filter((valid) => valid === true).length;
});

const notValidate = computed(() => {
  return flatGroups.value.filter((valid) => valid === false).length;
});

const fetchData = async (id: string) => {
  loading.value = true;
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    const responseContact = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/`
    );

    groups.value = response.data;
    contacts.value = responseContact.data.data;
    filteredContacts.value = responseContact.data;
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

const detailContact = async (id: string) => {
  loadingDetail.value = true;
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/${id}`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    // filteredContacts.value.data = response.data;
    console.log(response.data);
    loadingDetail.value = false;
  } catch (error) {
    console.log(error);
  }
};

onMounted(() => {
  fetchData(props.id);
  console.log(filteredGroups);
});

interface DataState {
  data: [];
  responses: any[];
  currentPage: number;
  itemsPerPage: number;
  isShowModal: boolean;
  isAdd: boolean;
  query: string;
  searchTerm: string;
  items: string[];
  showDropdown: boolean;
  selectedItems: string[];
}

const dataState = ref<DataState>({
  data: [],
  responses: [],
  currentPage: 1,
  itemsPerPage: 5,
  isShowModal: false,
  isAdd: false,
  query: '',
  searchTerm: '',
  items: [
    'Agus Hendrawan',
    'Maulana Ibrahim',
    'Kepadamu dulu aku jatuh cinta',
    'Item 4',
    'Item 5',
  ],
  showDropdown: false,
  selectedItems: [],
});

interface DataPost {
  name: string;
  telephone: string;
}

const dataPost = ref<DataPost>({
  name: '',
  telephone: '',
});

const totalPages = computed(() => {
  return Math.ceil(groups.value.contacts.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return groups.value.contacts
    .slice(startIndex, endIndex)
    .filter((item) =>
      item.name
        .toLocaleLowerCase()
        .includes(searchTerm.value.toLocaleLowerCase())
    );
});

const searchingContact = computed(() => {
  return filteredContacts.value.data.filter((item) =>
    item.name.toLowerCase().includes(dataPost.value.name.toLowerCase())
  );
});

function selectTarget(_id: any, name: any) {
  // console.log(item);
  selectedTarget.value._id.push(_id);
  selectedTarget.value.name.push(name);
  showDropdown = ref(false);
  dataPost.value.name = '';
}

function removeTarget(index: number) {
  selectedTarget.value.name.splice(index, 1);
  selectedTarget.value._id.splice(index, 1);
}

function postData() {
  axios
    .post<{ channel: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${props.id}`,
      {
        contacts: selectedTarget.value._id,
      }
    )
    .then((response) => {
      console.log(response);
      fetchData(props.id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function updateData(id: string) {
  axios
    .put(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${props.id}`,
      {
        name: groupName.value,
        telephone: phoneNumber.value,
      }
    )
    .then((response) => {
      console.log(response.data);
      fetchData(id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete<{ channel: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`
    )
    .then((response) => {
      console.log(response.data);
    })
    .catch((e) => {
      console.log(e);
    });
}

// import contact
const file = ref<File | null>(null);

const handleFileUpload = (event: Event) => {
  const input = event.target as HTMLInputElement;
  if (input.files && input.files.length > 0) {
    file.value = input.files[0];
  }
};

const uploadFile = async () => {
  if (!file.value) {
    return;
  }

  const formData = new FormData();
  formData.append('contacts', file.value);

  try {
    const response = await axios.post(
      'https://backend-interview-bot.vercel.app/api/v1/contacts/import',
      formData,
      {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }
    );
    console.log(response.data);
  } catch (error) {
    console.error(error);
  }

  file.value = null;
};

// edit data
let groupName = ref('');
let phoneNumber = ref('');

function print(item: string) {
  console.log(item);
}

function showDetail(id: string) {
  openDetail.value = true;
  detailContact(id);
}

function closeDetail() {
  openDetail.value = false;
  openEdit.value = false;
}

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>
