<template>
  <span>
    <button
      v-if="props.isButton"
      @click="open = true"
      class="px-3 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
    >
      {{ props.buttonText }}
    </button>
    <button
      v-else
      @click="open = true"
      class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
    >
      {{ props.buttonText }}
    </button>

    <div
      :class="`modal ${
        !open && 'opacity-0 pointer-events-none'
      } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
    >
      <div
        @click="open = false"
        class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
      ></div>

      <!-- @submit.prevent="updateData(u._id)" -->
      <form
        class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
      >
        <div class="px-6 py-4 text-left modal-content">
          <div class="flex items-center justify-between pb-3">
            <p class="text-2xl font-bold">{{ props.title }}</p>
            <div class="z-50 cursor-pointer modal-close" @click="open = false">
              <Icon icon="ion:close" class="w-6 h-6" />
            </div>
          </div>

          <slot></slot>

          <div class="flex justify-end pt-4">
            <div
              @click="open = false"
              class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
            >
              Close
            </div>
            <button
              @click="open = false"
              type="submit"
              class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </span>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const open = ref(false);

const props = defineProps({
  buttonText: {
    type: String,
    required: false,
  },
  title: {
    type: String,
    required: false,
  },
  isButton: {
    type: Boolean,
    required: false,
  },
});
// onMounted(() => {
//   document.body.classList.add('modal-open');
// });

// onUnmounted(() => {
//   document.body.classList.remove('modal-open');
// });
</script>
