<template>
  <div
    v-if="isOpen"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
    x-show="isOpen"
  >
    <div class="bg-white rounded-lg">
      <div class="">
        <slot name="title"></slot>
      </div>
      <div class="w-96">
        <slot name="content"></slot>
      </div>
      <div class="flex justify-end bg-gray-200 rounded-b-lg p-4">
        <div
          @click="closeModal()"
          class="px-3 py-3 mr-2 mt-3 font-medium tracking-wide text-indigo-600 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none cursor-pointer"
        >
          Close
        </div>
        <slot name="submit"></slot>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  isOpen: {
    type: Boolean,
    required: true,
  },
  closeModal: {
    type: Function,
    required: true,
  },
});
</script>
