<template>
  <!-- Disini untuk Table -->
  <div class="flex flex-col mt-8 pb-5">
    <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
      <div
        class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
      >
        <table class="min-w-full">
          <thead>
            <tr>
              <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
              >
                Contact Name
              </th>
              <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
              >
                Phone Number
              </th>
              <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
              >
                Status
              </th>
              <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
              >
                Channel
              </th>
              <th
                class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
              >
                Action
              </th>
            </tr>
          </thead>

          <tbody class="bg-white">
            <tr v-for="(u, index) in displayedData" :key="index">
              <td class="px-6 py-2 border-b border-gray-200 whitespace-nowrap">
                <div
                  class="flex items-center text-sm font-medium leading-5 text-gray-900"
                >
                  {{ u.name }}
                </div>
              </td>
              <td class="px-6 py-2 border-b border-gray-200 whitespace-nowrap">
                <div class="text-sm leading-5 text-gray-900">
                  {{ u.telephone }}
                </div>
              </td>
              <td class="px-6 py-2 border-b border-gray-200 whitespace-nowrap">
                <div
                  class="text-sm leading-5 max-w-max p-1 bg-red-600 border border-red-900 text-center text-white font-medium rounded-full"
                  :class="{
                    'bg-greem-600 border-green-900': u.is_valid === true,
                  }"
                >
                  {{ u.is_valid === false ? 'Unvalid' : 'Valid' }}
                </div>
              </td>
              <td
                class="px-6 py-2 text-sm leading-5 text-gray-500 border-b border-gray-200 whitespace-nowrap"
              >
                <p v-for="c in u.channel" :key="c">{{ c }}</p>
              </td>

              <td
                class="space-x px-6 py-5 text-sm font-medium leading-5 text-center border-b border-gray-200 whitespace-nowrap"
              >
                <!-- @click="showEditModal(u._id, u.name, u.telephone)" -->
                <button
                  class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                >
                  Edit
                </button>

                <!-- @click="deleteData(u._id)" -->
                <span
                  class="cursor-pointer text-red-600 hover:text-red-900 inline-block"
                >
                  delete
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="">
    <ul class="flex justify-end">
      <li class="">
        <button
          :disabled="dataState.currentPage === 1"
          @click="dataState.currentPage--"
          class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          :class="{ 'text-gray-400': dataState.currentPage === 1 }"
        >
          <span class="sr-only">Previous</span>
          <Icon icon="ion:chevron-back" />
        </button>
      </li>
      <div v-if="pages[4] + 1 > 6">
        <li
          @click="dataState.currentPage = 1"
          class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          1
        </li>
        <li
          class="relative inline-flex bg-gray-200 items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"
        >
          ...
        </li>
      </div>
      <div v-for="page in pages" :key="page">
        <li class="">
          <button
            :class="[
              {
                'relative z-10 inline-flex items-center bg-blue-600 text-white px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                  page === dataState.currentPage,
                '  hover:bg-gray-100 bg-white': page !== dataState.currentPage,
              },
            ]"
            @click="dataState.currentPage = page"
            :disabled="page === dataState.currentPage"
            class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
          >
            {{ page }}
          </button>
        </li>
      </div>
      <div v-if="pages[4] < totalPages">
        <li
          class="relative inline-flex bg-gray-200 items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0"
        >
          ...
        </li>
        <li
          @click="dataState.currentPage = totalPages"
          class="cursor-pointer relative bg-white inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          {{ totalPages }}
        </li>
      </div>
      <li class="">
        <button
          :disabled="dataState.currentPage === totalPages"
          @click="dataState.currentPage++"
          class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
        >
          <span class="sr-only">Previous</span>
          <Icon icon="ion:chevron-forward" />
        </button>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { computed, onMounted, ref, PropType } from 'vue';

const props = defineProps({
  data: {
    type: Array as PropType<any[]>,
    required: true,
  },
  search: {
    type: String,
  },
});

const dataState = ref({
  currentPage: 1,
  itemsPerPage: 5,
});

const totalPages = computed(() => {
  const totalItems =
    props.search === '' ? props.data.length : displayedData.value.length;
  return Math.ceil(totalItems / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return props.data

    .filter((item) =>
      item.name.toLowerCase().includes(props.search?.toLowerCase())
    )
    .slice(startIndex, endIndex);
});

// your component code
</script>
